/* Media Queries */
/* Tablet */
@media only screen and (min-width: 768px){
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
        top: 0;
        position:fixed;
        background-color:rgba(252, 252, 252, 0.95);
    }
    .navigation ul {
        justify-content:right;
    }
    .nav-item {
        width: 120px;
        padding: 8px 0;
    }

    .hero-section {
        height: 700px;
        margin-top: 85px;
    }
    .hero-title {
        width: 100%;
        display: flex;
    }
    .hero-name h1 {
        font-size: 5rem;
        font-weight: 700;
    }
    .hero-des {
        width: 50%;
        text-align: right;
        display: flex;
        flex-direction: column;
        padding-right: 50px;
        box-sizing: border-box;
    }
    .hero-dev {
        width: 50%;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        box-sizing: border-box;
    }    
    .hero-job {
        font-size:2rem;
        font-weight:600;
    }
    .hero-cv {
        flex-direction: row;
    }

    .about-container {
        width: 90%;
    }
    .about-content-right {
        font-size:1.5rem;
    }
    .section-hr {
        width: 35%;
    }

    .project-grid-container {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
    }

    .right-content {
        width: 70%;
    }

    /* Hide Scroll Up */
    .scroll-btn-container {
        display: none;
    }
    
}

/* Desktop */
@media only screen and (min-width: 992px){
    .hero-job {
        font-size:3rem;
        font-weight:700;
    }    
    .project-grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}