.logo {
  width: 45px;
  height: 45px;
}

.dummy {
  width: 50px;
  height: 300px;
}

.z-bg-primary {
  background-color: #800000;
}
.z-cl-primary, .z-cl-spn {
  color: #800000;
}
.z-cl-form {
  color: #500000;
}
.z-cl-spn {
  font-weight: bold;
}
.z-cl-secondary {
  color: #2f2f2f;
}

.footer-spacing {
  height: 100px;
}

.z-divider-r80 {
  border: 1px solid #800000;
}
.z-divider-w {
  border: 1px solid #fff;
}

/* Skills Section */
.skills-item {
  width: 80%;
  text-align: center;
}
.skills-item span {
  padding: 10px;
  margin: 5px; 
  color: #800000;
  font-weight: 700;
  background-color:#FCFCFC;
  border: 1px solid #800000;
  display: inline-block;
  box-shadow: 2px 3px #21252f;

}
.skills-item-desc p {
  color: #000;
  margin-top: 10px;
  display: list-item;
  list-style-type: square;
  list-style-position: inside;
}

/* Contact Section */
.contact-section {
  width: 100%;
  height: auto;
  padding: 100px 0;
}
.contact-container {
  width: 100%;
}
.contact-title {
  width: 100%;
  margin: 25px 0;
}
.contact-content {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.contact-container-left {
  width: 100%;
  display: flex;
  justify-content: center;
}
.left-content {
  width: 95%;
  margin-bottom: 25px;
}
.contact-container-right {
  width: 100%;
  display: flex;
  justify-content: center;
}
.right-content {
  width: 95%;
}
.right-content-title, .contact-form {
  width: 100%;
}
.left-content-details h6 {
  margin: 20px 0 5px 0;
}
.left-content-details h2,
.left-content-details a {
  font-size: medium;
  color: #21252f;
  text-decoration: none;
}
.contact-content-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-label {
  margin: 20px 0 5px 0;
}
.contact-field {
  padding: 10px;
  border: 1px solid #800000;
}
.contact-btn {
  margin-top: 20px;
  padding: 15px 10px;
  background-color: #500000;
  color: white;
}

/*  *  */
.bd-red {
  border: 1px solid red;
}
.bd-black {
  border: 1px solid black;
}
.bd-blue {
  border: 1px solid blue;
}

.hideOnSM {
  display: block;
}

@media only screen and (min-width: 768px){
  .hideOnSM {
    display: none;
  }
  .footer-spacing {
    height: 70px;
  }
}
@media only screen and (min-width: 992px){
  .footer-spacing {
    height: 75px;
  }
}